@media only screen and (max-width: 768px) {
    .main {
        width: 680px;
    }

    .accordion {
        width: 285px;
    }

    .woman {
        width: 350px;
        top: 95.64px;
    }

    .images {
        width: 294px;
    }

    .box {
        width: 141.48px;
        top: 198px;
        left: -65px;
    }

    .pattern {
        width: 715px;
        top: -175px;
    }
}

@media only screen and (max-width: 376px) {
    .main {
        width: 327px;
        height: 535px;
        top: 148px;
    }

    .box {
        display: none;
    }

    .pattern {
        content: url(./images/bg-pattern-mobile.svg);
        width: 240px;
        height: 145px;
        left: calc(50% - 240px/2 + 0.5px);
        top: -41px;
    }

    .images {
        overflow:unset
    }

    .woman {
        content: url(./images/illustration-woman-online-mobile.svg);
        width: 237px;
        height: 180px;
        left: 30px;
        top: -108px;
    }

    .images {
        width: 100%;
    }

    .accordion {
        width: 279px;
        height: 355px;
        top: 132px;
        left: 24px;
    }

    .item {
        font-size: 13px;
    }
    .faq {
        text-align: center;
    }
}

